.everything {
    text-align: center;
}


.holder {
    background-color: peachpuff;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: 1px solid peachpuff;
    width: 300px;
    height: 300px;
}

.content{
    max-width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    cursor:text;
    overflow: hidden;
}

.img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    cursor:text;
}


.text {
    opacity: 0;
    font-size: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.content:hover .text{
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
}
