body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: relative;
  top: 50px;
  left: 50px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  top: 50px;
  left: 50px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  top: 50px;
  left: 50px;
}
